<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DB_HakimEntities" connectionString="metadata=res://*/DB_Hakim.csdl|res://*/DB_Hakim.ssdl|res://*/DB_Hakim.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB_Hakim;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>